
/* Element Selector, Color Name, and Background */
body { 
    background: aliceblue; 
}

/* Color RGB, Long Margin and Padding format, Relative Unit vmax and vmin  */
h1 {
    margin-top:25px;
    margin-bottom:1px;
    margin-left:1px;
    margin-right:1px;
    padding-top: 0.20in;
    padding-bottom: 0.15in;
    padding-left: 0.15in;
    padding-right: 0.15in;
    border-style:solid;
    border-width:0.8vmin;
    border-color:black;
    border-radius: 2vmax;
    background-color: rgb(204, 229, 255);
}

/* Universal Selector and Class Selector, Color HSL and Relative Unit % */
*.red {
    color: hsl(0, 78%, 69%)
}

/* Attribute Selector, Colorspace, Box Model Margin and Padding Short and 3 Unique Absolute Units px, in and cm*/
h3[meeting] {
    text-align: center;
    margin:1px 1100px 1px 1px;
    padding: 0.15in 0.381cm 0.15in 0.381cm;
    border-style:solid;
    border-width:3px;
    border-color:black;
    border-radius:25px;
    background-color: color(from blue srgb r g b / 0.4);
}

/* Selector List and Color Mix */
span, h2 {
    color: color-mix(in oklab, #6a5acd 75%, pink);
}

/* ID selector and Text Decoration*/
#medias {
    text-decoration: underline overline;
}






