
* {
    text-align: center;
}
/* Element Selector, Color Name, and Background */
body { 
    background: aliceblue; 
}

/* Height, Width, Color RGB, Long Margin and Padding format, Border options,
 Position static and Relative Unit vmax and vmin  */
h1 {
    height:auto;
    width:auto;
    margin-top:25px;
    margin-bottom:1px;
    margin-left:1px;
    margin-right:1px;
    padding-top: 0.20in;
    padding-bottom: 0.15in;
    padding-left: 0.15in;
    padding-right: 0.15in;
    border-style:solid;
    border-width:0.8vmin;
    border-color:black;
    border-radius: 2vmax;
    background-color: rgb(204, 229, 255);
    position:static;
}

/* Universal Selector and Class Selector (Combining Two Selectors, Color HSL and Relative Unit % */
*.red {
    color: hsl(0, 78%, 69%)
}

/* Descendant Combinator, Attribute Selector, and Layout Flexbox */
nav ol[meet] {
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content: space-around;
    
}

/* Child Combinator and Attribute Selector, Sizing max and min width, Colorspace, Box Model Margin and Padding Short,
Pseudo class hover and active, display block and 3 Unique Absolute Units px, in and cm*/
li > h3[meeting] {
    margin:1px 60px 1px 1px;
    padding: 0.15in 0.381cm 0.15in 0.381cm;
    border-style:solid;
    border-width:3px;
    border-color:black;
    border-radius:25px;
    background-color: color(from hsl(152, 77%, 44%) xyz 0.75 0.6554 1);
    max-width: 1000px;
    min-width: 200px;

    display:block;
    
}

li > h3[meeting]:hover {
    background-color: cornflowerblue;
}

li > h3[meeting]:active {
    background-color: rgb(247, 236, 90);
}

/* General Sibling Combinator*/
br ~ span {
    color:blueviolet;
}

/* Selector List and Color Mix */
span, h2 {
    color: color-mix(#6a5acd 75%, pink);
}

/* Adjacent Sibling Combinator */
h2 + h3 {
    color:darkorchid;
}

/* :has Selector */
h2:has(+h3) {
    color:navy;
}

/* ID selector, Text Decoration, and position relative*/
#medias {
    text-decoration: underline overline;
    position:relative;
    bottom:5px;
}

/* Another display */
h4 {
    display:none;
}

/* Layout Grid */
ul {
    display:grid;
    grid-template-columns: 100px 100px 100px 100px;
    justify-self:center;
    align-self:center;
    text-align: center;
}



